body {
    background: rgb(223, 224, 213);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(223, 224, 213), rgb(223, 224, 213));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(223, 224, 213), rgb(223, 224, 213)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-image: url("fondo.jpg") ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

